.user-card {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
  transition: transform 0.2s ease;
  max-width: 300px;
}

.user-card:hover {
  transform: translateY(-5px);
}

.user-card p {
  margin: 0.25rem 0;
}

.user-name {
  font-size: 1.5rem;
  margin-bottom: 0.1rem;
  color: #111827;
  text-align: start;
  line-height: 30px;
  margin-top: 0;
}

.user-company {
  color: #4b5563;
}

.user-card span {
  font-weight: 600;
  margin-right: 4px;
}

.user-card a {
  color: #3b82f6;
  text-decoration: none;
}

.user-card a:hover {
  text-decoration: underline;
}

.user-contact {
  display: flex;
  align-items: center;
}

.user-contact p {
  width: 70px;
}
